{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Speech to Text Dashboard." />
    {% block title %}<title>Speech to text</title>{% endblock %}
    {% block css %}
      {% comment %}GOOGLE FONTS{% endcomment %}
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500|Poppins:400,500,600,700|Roboto:400,500"
            rel="stylesheet" />
      <link href="https://cdn.materialdesignicons.com/4.4.95/css/materialdesignicons.min.css"
            rel="stylesheet" />
      {% comment %}PLUGINS CSS STYLE{% endcomment %}
      <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/simplebar/6.2.7/simplebar.css"
            integrity="sha512-08T4cwCCcdn+1J5Kne6cRZwBFGo11KAc8b9dk6vDFkdscSz9L/rVUGl+kbIT8zQbBGqxkYwjz+HoZNp6B8bA7A=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer" />
      <link href="{% static '/static/plugins/nprogress/nprogress.css' %}"
            rel="stylesheet" />
      {% comment %}SLEEK CSS{% endcomment %}
      <link id="sleek-css" rel="stylesheet" href="/static/css/sleek.css" />
      {% comment %}FAVICON{% endcomment %}
      <link href="static/images/favicon.png" rel="shortcut icon" />
    {% endblock %}
    {% comment %}HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries{% endcomment %}
    <script src="/static/plugins/nprogress/nprogress.js"></script>
  </head>
  <body class="header-fixed sidebar-fixed sidebar-dark header-light"
        id="body">
    <script>
      NProgress.configure({
        showSpinner: false
      })
      NProgress.start()
    </script>
    <div class="wrapper">
      <aside class="left-sidebar bg-sidebar">
        <div id="sidebar" class="sidebar sidebar-with-footer">
          <div class="app-brand">
            <a href="" title="Speech to Text">
              <svg class="brand-icon"
                   xmlns="http://www.w3.org/2000/svg"
                   preserveAspectRatio="xMidYMid"
                   width="30"
                   height="33"
                   viewBox="0 0 30 33">
                <g fill="none" fill-rule="evenodd">
                <path class="logo-fill-blue" fill="#7DBCFF" d="M0 4v25l8 4V0zM22 4v25l8 4V0z" />
                <path class="logo-fill-white" fill="#FFF" d="M11 4v25l8 4V0z" />
                </g>
              </svg>
              <span class="brand-name text-truncate">Text to Speech</span>
            </a>
          </div>
          {% comment %}begin sidebar scrollbar{% endcomment %}
          <div class="" data-simplebar style="height: 100%;">
            {% comment %}sidebar menu{% endcomment %}
            <ul class="nav sidebar-inner" id="sidebar-menu">
              <li class="has-sub">
                <a class="sidenav-item-link"
                   href="javascript:void(0)"
                   data-toggle="collapse"
                   data-target="#dashboard"
                   aria-expanded="false"
                   aria-controls="dashboard">
                  <i class="mdi mdi-view-dashboard-outline"></i>
                  <span class="nav-text">Dashboard</span> <b class="caret"></b>
                </a>
                <ul class="collapse" id="dashboard" data-parent="#sidebar-menu">
                  <div class="sub-menu">
                    <li class="">
                      <a class="sidenav-item-link" href=""><span class="nav-text">Placeholder</span></a>
                    </li>
                  </div>
                </ul>
              </li>
              <li class="has-sub">
                <a class="sidenav-item-link"
                   href="javascript:void(0)"
                   data-toggle="collapse"
                   data-target="#tables"
                   aria-expanded="false"
                   aria-controls="tables">
                  <i class="mdi mdi-table"></i>
                  <span class="nav-text">Tables</span> <b class="caret"></b>
                </a>
                <ul class="collapse" id="tables" data-parent="#sidebar-menu">
                  <div class="sub-menu">
                    <li class="">
                      <a class="sidenav-item-link" href="/text"><span class="nav-text">Text Tables</span></a>
                    </li>
                  </div>
                </ul>
              </li>
              <li class="has-sub">
                <a class="sidenav-item-link"
                   href="javascript:void(0)"
                   data-toggle="collapse"
                   data-target="#charts"
                   aria-expanded="false"
                   aria-controls="charts">
                  <i class="mdi mdi-chart-pie"></i>
                  <span class="nav-text">Charts</span> <b class="caret"></b>
                </a>
                <ul class="collapse" id="charts" data-parent="#sidebar-menu">
                  <div class="sub-menu">
                    <li class="">
                      <a class="sidenav-item-link" href=""><span class="nav-text">Placeholder</span></a>
                    </li>
                  </div>
                </ul>
              </li>
            </ul>
          </div>
          <div class="sidebar-footer">
            <hr class="separator mb-0" />
            <div class="sidebar-footer-content">
              <h6 class="text-uppercase">
                Cpu Uses <span class="float-right">40%</span>
              </h6>
              <div class="progress progress-xs">
                <div class="progress-bar active" style="width: 40%;" role="progressbar"></div>
              </div>
              <h6 class="text-uppercase">
                Memory Uses <span class="float-right">65%</span>
              </h6>
              <div class="progress progress-xs">
                <div class="progress-bar progress-bar-warning"
                     style="width: 65%"
                     role="progressbar"></div>
              </div>
            </div>
          </div>
        </div>
      </aside>
      {% comment %}PAGE WRAPPER{% endcomment %}
      <div class="page-wrapper">
        {% comment %}Header{% endcomment %}
        <header class="main-header" id="header">
          <nav class="navbar navbar-static-top navbar-expand-lg">
            {% comment %}Sidebar toggle button{% endcomment %}
            <button id="sidebar-toggler" class="sidebar-toggle">
              <span class="sr-only">Toggle navigation</span>
            </button>
            {% comment %}search form{% endcomment %}
            <div class="search-form d-none d-lg-inline-block">
              <div class="input-group">
                <button type="button" name="search" id="search-btn" class="btn btn-flat">
                  <i class="mdi mdi-magnify"></i>
                </button>
                <input type="text"
                       name="query"
                       id="search-input"
                       class="form-control"
                       placeholder="'button', 'chart' etc."
                       autofocus
                       autocomplete="off" />
              </div>
              <div id="search-results-container">
                <ul id="search-results">
                </ul>
              </div>
            </div>
          </nav>
        </header>
        {% comment %}CONTENT WRAPPER{% endcomment %}
        <div class="content-wrapper">
          <div class="content">
            <div class="row">
              <div class="col-lg-12">
                <div class="card card-default">
                  {% block main %}
                    {% block content %}<p>Use this document as a way to quick start any new project.</p>{% endblock %}
                  {% endblock %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="footer mt-auto">
        </footer>
      </div>
    </div>
    <script src="/static/plugins/jquery/jquery.min.js"></script>
    <script src="/static/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplebar/6.2.7/simplebar.min.js"
            integrity="sha512-NkLfoy5pkmAKUxk/OXl9vi1PDSFnEEJ3bDFdX0ln1L0pto6jM7On0lLsjhNC62i2ifyXhPWjPpcGEXawBfErtQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    <script src="/static/js/sleek.js"></script>
  </body>
</html>
